* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.visualy-hidden {
  position: absolute;
  visibility: hidden;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
main {
  background-color: #4f4f4f;
}
.page-header {
  color: #4f4f4f;
  padding: 20px 0;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
}
.header-navigation-list,
.contacts-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-navigation-item,
.contacts-list-item {
  padding: 0;
  margin: 0;
  margin-right: 20px;
}
.contacts-list-item:last-child {
  margin-right: 0;
}
.page-header a {
  color: #4f4f4f;
  font-weight: 600;
  text-transform: uppercase;
}
.page-header a:hover {
  text-decoration: underline;
}
.grid-wrapper {
  border-bottom: 1px solid #d3d1d1;
  padding-bottom: 25px;
  padding-top: 25px;
  display: grid;
  grid-template-columns: 480px 480px;
  grid-template-rows: 90px 160px;
  grid-template-areas:
    "title img"
    "text img";
}
.main-title {
  grid-area: title;
  margin: 0;
  padding: 0;
  align-self: end;
}
.main-text {
  grid-area: text;
  margin: 0;
  padding: 0;
  padding-top: 25px;
}
.cv-avatar {
  grid-area: img;
  border-radius: 15%;
  justify-self: end;
}
